@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';
@plugin 'tailwind-scrollbar-hide';

@config "../../tailwind.config.js";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
    body {
        @apply bg-background text-foreground min-h-screen antialiased overscroll-none;
        /* font-feature-settings: "rlig" 1, "calt" 1; */
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
        font-family:
            Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    /* Mobile tap highlight */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
    html {
        -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
    }

    html .shiki,
    html .shiki span {
        color: var(--shiki-dark);
    }
}

@layer components {
    div[class^='language-'] {
        @apply max-h-[650px] overflow-auto md:rounded-lg;
    }

    pre {
        @apply py-4;
    }

    pre code {
        @apply relative font-mono text-sm;
    }

    .line-numbers-wrapper,
    code {
        --vp-code-line-height: 1.7;
    }

    .line-numbers-wrapper {
        @apply font-mono!;
    }

    pre code .line {
        @apply px-4 min-h-4 w-full inline-block leading-(--vp-code-line-height);
    }

    .line-number {
        font-size: 0.75rem;
        color: hsla(0, 0%, 98%, 0.4);
        @apply inline-block! leading-(--vp-code-line-height);
    }

    .steps:first-child > h3:first-child {
        @apply mt-0;
    }

    .steps > h3 {
        @apply mt-8! mb-4! text-base! font-semibold!;
    }

    [data-code-block-plugin] [data-code-block-title] {
        @apply mt-4 px-4 text-sm font-medium text-foreground;
    }

    [data-code-block-plugin] div[class^='language-'] {
        @apply mt-2!;
    }
}

@layer utilities {
    @font-face {
        font-family: 'Figtree';
        font-display: swap;
        src: url('/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        appearance: textfield;
    }

    @supports (font: -apple-system-body) and (-webkit-appearance: none) {
        [data-wrapper] {
            @apply min-[1800px]:border-t;
        }
    }

    @media (max-width: 640px) {
        .container {
            @apply px-4;
        }
    }
}

@utility step {
    counter-increment: step;

    &:before {
        @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
        @apply ml-[-50px] -mt-1;
        content: counter(step);
    }
}

@utility chunk-container {
    @apply shadow-none;

    &::after {
        content: '';
        @apply absolute -inset-4 shadow-xl rounded-xl border;
    }
}

@utility no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility border-grid {
    @apply border-border/90 dark:border-border;
}

@utility container-wrapper {
    @apply max-w-[1400px] min-[1800px]:max-w-(--breakpoint-2xl) min-[1400px]:border-x border-border/90 dark:border-border mx-auto w-full;
}

@utility container {
    @apply px-4 xl:px-6 mx-auto max-w-(--breakpoint-2xl);
}

@layer base {
    @theme {
        /* Border radius */
        --radius-xl: calc(var(--radius) + 4px);
        --radius-lg: var(--radius);
        --radius-md: calc(var(--radius) - 2px);
        --radius-sm: calc(var(--radius) - 4px);

        /* Aspect ratios */
        --aspect-video: 16 / 9;
        --aspect-square: 1 / 1;
        --aspect-portrait: 9 / 16;
        --aspect-1-2: 1 / 2;
        --aspect-2-3: 2 / 3;
        --aspect-3-4: 3 / 4;

        /* Breakpoints */
        --breakpoint-xs: 20rem; /* 320px */
        --breakpoint-xms: 25rem; /* 400px */
        --breakpoint-3xl: 125rem; /* 2000px */

        /* Container */
        --container-center: true;
        --container-padding: 2rem;
        --container-2xl: 1536px;
    }

    .antialised {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: var(--border);
        border-radius: 5px;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-border;
        /* border-color: var(--color-gray-200, currentcolor); */
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: var(--border) transparent;
    }
}

@layer base {
    /* vitepress */

    :root {
        /* Defaults*/

        --background: hsl(0 0% 100%);
        --foreground: hsl(240 10% 3.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(240 10% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(240 10% 3.9%);
        --primary: hsl(240 5.9% 10%);
        --primary-foreground: hsl(0 0% 98%);
        --secondary: hsl(240 4.8% 95.9%);
        --secondary-foreground: hsl(240 5.9% 10%);
        --muted: hsl(240 4.8% 95.9%);
        --muted-foreground: hsl(240 3.8% 46.1%);
        --accent: hsl(240 4.8% 95.9%);
        --accent-foreground: hsl(240 5.9% 10%);
        --destructive: hsl(0 72.22% 50.59%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(240 5.9% 90%);
        --input: hsl(240 5.9% 90%);
        --ring: hsl(240 5% 64.9%);
        --radius: 0.5rem;

        --sidebar-background: hsl(0 0% 98%);
        --sidebar-foreground: hsl(240 5.3% 26.1%);
        --sidebar-primary: hsl(240 5.9% 10%);
        --sidebar-primary-foreground: hsl(0 0% 98%);
        --sidebar-accent: hsl(240 4.8% 95.9%);
        --sidebar-accent-foreground: hsl(240 5.9% 10%);
        --sidebar-border: hsl(220 13% 91%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);

        --vis-primary-color: var(--primary);
        --vis-secondary-color: 160 81% 40%;
        --vis-text-color: var(--muted-foreground);

        --vis-area-stroke-width: 2px !important;
        --vis-donut-central-label-text-color: var(--muted-foreground) !important;
        --vis-tooltip-background-color: none !important;
        --vis-tooltip-border-color: none !important;
        --vis-tooltip-text-color: none !important;
        --vis-tooltip-shadow-color: none !important;
        --vis-tooltip-backdrop-filter: none !important;
        --vis-tooltip-padding: none !important;
    }

    @theme {
        /* Custom colors */
        --color-input: var(--input);

        --color-ring: var(--ring);

        --color-primary-foreground: var(--primary-foreground);

        --color-secondary: var(--secondary);
        --color-secondary-foreground: var(--secondary-foreground);

        --color-destructive: var(--destructive);
        --color-destructive-foreground: var(--destructive-foreground);

        --color-muted: var(--muted);
        --color-muted-foreground: var(--muted-foreground);

        --color-accent: var(--accent);
        --color-accent-foreground: var(--accent-foreground);

        --color-popover: var(--popover);
        --color-popover-foreground: var(--popover-foreground);

        --color-card: var(--card);
        --color-card-foreground: var(--card-foreground);

        /* Sidebar */
        --color-sidebar: var(--sidebar-background);
        --color-sidebar-foreground: var(--sidebar-foreground);
        --color-sidebar-primary: var(--sidebar-primary);
        --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
        --color-sidebar-accent: var(--sidebar-accent);
        --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
        --color-sidebar-border: var(--sidebar-border);
        --color-sidebar-ring: var(--sidebar-ring);

        /* Redone Colours */
        --color-background: var(--background);
        --color-foreground: var(--foreground-0);

        --color-border: var(--border);
    }

    .dark {
        /* Defaults */
        --background: hsl(240 10% 3.9%);
        --foreground: hsl(0 0% 98%);
        --card: hsl(240 10% 3.9%);
        --card-foreground: hsl(0 0% 98%);
        --popover: hsl(240 10% 3.9%);
        --popover-foreground: hsl(0 0% 98%);
        --primary: hsl(0 0% 98%);
        --primary-foreground: hsl(240 5.9% 10%);
        --secondary: hsl(240 3.7% 15.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(240 3.7% 15.9%);
        --muted-foreground: hsl(240 5% 64.9%);
        --accent: hsl(240 3.7% 15.9%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 85.7% 97.3%);
        --border: hsl(240 3.7% 15.9%);
        --input: hsl(240 3.7% 15.9%);
        --ring: hsl(240 4.9% 83.9%);

        --sidebar-background: hsl(240 5.9% 10%);
        --sidebar-foreground: hsl(240 4.8% 95.9%);
        --sidebar-primary: hsl(224.3 76.3% 48%);
        --sidebar-primary-foreground: hsl(0 0% 100%);
        --sidebar-accent: hsl(240 3.7% 15.9%);
        --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
        --sidebar-border: hsl(240 3.7% 15.9%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);
    }
}

@layer base {
    @theme {
        /* Custom */

        /* Surfaces (0 is page) */
        --color-surface-0: oklch(0.9841 0.0035 39.48); /* primary-950 #fcf9f8 */
        --color-surface-1: oklch(0.9851 0 129.63); /* primary-900 #fafafa */
        --color-surface-2: oklch(100% 0 0); /* white */
        --color-surface-3: oklch(0.9674 0.0013 286.35); /* primary-800 #f4f4f5 */
        --color-surface-4: oklch(0.9841 0.0035 39.48);

        /* Toasts Menus Popovers Dropdowns */
        --color-overlay: oklch(100% 0 0);

        /* Text (0 is brightest) */
        --foreground-0: oklch(0.1405 0.0044 285.82); /* this is zinc-950 */
        --color-foreground-i: hsl(0 0% 100%); /* white inverse of dark-0 */
        --color-foreground-0: oklch(21% 0.034 264.665); /* In my code I used gray-900 which is oklch(21% 0.034 264.665) = #101828 */
        --color-foreground-1: oklch(43.9% 0 0); /* neutral-600 (to 400) */
        --color-foreground-2: oklch(70.8% 0 0); /* neutral-500 (to 400)*/
        --color-foreground-3: oklch(70.8% 0 0); /* neutral-400 (to 500)*/
        --color-foreground-4: oklch(97% 0 0); /* neutral-100 (to 300) #f5f5f5 */
        --color-foreground-4-hover: oklch(97% 0 0); /* neutral-100 (to 300) #f5f5f5 */

        /* Main Colours */
        --color-primary: oklch(55.8% 0.288 302.321); /* purple-600 */
        --color-primary-muted: oklch(0.63 0.23 304); /* purple-500 */
        --color-primary-active: oklch(0.5 0.24 302); /* purple-700 */
        --color-primary-dark: oklch(38.1% 0.176 304.987); /* purple-900 */

        /* Ring */
        --color-r-disabled: oklch(92.2% 0 0) /* neutral-200 #e5e5e5 */;
        --color-r-default: oklch(21% 0.034 264.665) /* gray-900 #101828 */;
        --color-r-card: color-mix(in oklab, oklch(21% 0.034 264.665) 5%, transparent) /* gray-900/70 #101828 */;

        /* Border Divide */
        --color-b: oklch(92.8% 0.006 264.531); /* gray-200 #e5e7eb */
        --color-d: oklch(92.8% 0.006 264.531); /* gray-200 #e5e7eb */

        /* Primary dark shades */
        --color-primary-dark-600: #2a2a2d;
        --color-primary-dark-700: #26262a;
        --color-primary-dark-800: #27272a;
        --color-primary-dark-900: #18181b;
        --color-primary-dark-950: #101014;

        /* Indicator Colors */
        --color-success: oklch(72.3% 0.219 149.579); /* green-500 */
        --color-info: oklch(62.3% 0.214 259.815); /* blue-500 */
        --color-warning: oklch(75% 0.183 55.934); /* orange-500 */
        --color-danger: oklch(64.5% 0.246 16.439); /* rose-500 */
        --color-danger-2: oklch(58.6% 0.253 17.585); /* rose-600 */
        --color-danger-3: oklch(51.4% 0.222 16.935); /* rose-700 */

        /* Opacity */
        --opacity-disabled: 0.6;
    }

    .dark {
        /* Surfaces (0 is page) */
        --color-surface-0: oklch(0.1749 0.0082 285.52); /* primary-dark-950 #101014 */
        --color-surface-1: oklch(0.2103 0.0059 285.89); /* primary-dark-900 zinc-900 #18181b */
        --color-surface-2: oklch(0.2739 0.0055 286.03); /* primary-dark-800 zinc-800 #27272a */
        --color-surface-3: #26262a; /* primary-dark-700 #26262a */
        --color-surface-4: #2a2a2d; /* primary-dark-600 #2a2a2d ?? this is darker */

        /* Text (0 is brightest) */
        --foreground-0: hsl(0 0% 98%); /* zinc-50 and neutral-50 */
        --color-foreground-i: oklch(21% 0.034 264.665); /* gray-900 inverse of light-0 */
        --color-foreground-0: hsl(0 0% 100%); /* white */
        --color-foreground-1: oklch(70.8% 0 0); /* neutral-400 */
        --color-foreground-2: oklch(70.8% 0 0); /* neutral-400 */
        --color-foreground-3: oklch(55.6% 0 0); /* neutral-500 */
        --color-foreground-4: oklch(87% 0 0); /* neutral-300 #d4d4d4 */

        /* Ring */
        --color-r-disabled: oklch(37.1% 0 0) /* neutral-700 #404040 */;
        --color-r-default: oklch(21% 0.034 264.665) /* gray-900 #101828 */;

        /* Border Divide */
        --color-b: oklch(92.8% 0.006 264.531); /* gray-200 #e5e7eb */
        --color-d: oklch(37.1% 0 0); /* neutral-700 #404040 */

        /* Indicator Colors */
        --color-success: oklch(62.7% 0.194 149.214); /* green-600 */
        --color-danger: oklch(58.6% 0.253 17.585); /* rose-600 */

        /* Replacements */
        --card: var(--surface-1); /* From White */

        /* Toasts Menus Popovers Dropdowns */
        --color-overlay: color-mix(in oklab, oklch(0.2739 0.0055 286.03) /* #26262a */ 70%, transparent); /* surface-2 */
    }
}

@layer utilities {
    .opacity-disabled {
        opacity: var(--opacity-disabled);
    }
}

@utility button-disabled {
    @apply cursor-not-allowed hover:ring-r-disabled opacity-disabled;
}
