@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';
@plugin 'tailwind-scrollbar-hide';

@config "../../tailwind.config.js";

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 72.22% 50.59%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 5% 64.9%;
        --radius: 0.5rem;

        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;

        --vis-primary-color: var(--primary);
        --vis-secondary-color: 160 81% 40%;
        --vis-text-color: var(--muted-foreground);

        --vis-area-stroke-width: 2px !important;
        --vis-donut-central-label-text-color: hsl(var(--muted-foreground)) !important;
        --vis-tooltip-background-color: none !important;
        --vis-tooltip-border-color: none !important;
        --vis-tooltip-text-color: none !important;
        --vis-tooltip-shadow-color: none !important;
        --vis-tooltip-backdrop-filter: none !important;
        --vis-tooltip-padding: none !important;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 85.7% 97.3%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;

        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }

    body {
        @apply bg-background text-foreground min-h-screen antialiased overscroll-none;
        /* font-feature-settings: "rlig" 1, "calt" 1; */
        font-synthesis-weight: none;
        text-rendering: optimizeLegibility;
        font-family:
            Figtree, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    }

    /* Mobile tap highlight */
    /* https://developer.mozilla.org/en-US/docs/Web/CSS/-webkit-tap-highlight-color */
    html {
        -webkit-tap-highlight-color: rgba(128, 128, 128, 0.5);
    }

    html .shiki,
    html .shiki span {
        color: var(--shiki-dark);
    }
}

@layer components {
    div[class^='language-'] {
        @apply max-h-[650px] overflow-auto md:rounded-lg;
    }

    pre {
        @apply py-4;
    }

    pre code {
        @apply relative font-mono text-sm;
    }

    .line-numbers-wrapper,
    code {
        --vp-code-line-height: 1.7;
    }

    .line-numbers-wrapper {
        @apply font-mono!;
    }

    pre code .line {
        @apply px-4 min-h-4 w-full inline-block leading-(--vp-code-line-height);
    }

    .line-number {
        font-size: 0.75rem;
        color: hsla(0, 0%, 98%, 0.4);
        @apply inline-block! leading-(--vp-code-line-height);
    }

    .steps:first-child > h3:first-child {
        @apply mt-0;
    }

    .steps > h3 {
        @apply mt-8! mb-4! text-base! font-semibold!;
    }

    [data-code-block-plugin] [data-code-block-title] {
        @apply mt-4 px-4 text-sm font-medium text-foreground;
    }

    [data-code-block-plugin] div[class^='language-'] {
        @apply mt-2!;
    }
}

@layer utilities {
    @font-face {
        font-family: 'Figtree';
        font-display: swap;
        src: url('/fonts/Figtree/Figtree-VariableFont_wght.ttf') format('truetype');
    }

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        margin: 0;
    }

    input[type='number'] {
        appearance: textfield;
    }

    @supports (font: -apple-system-body) and (-webkit-appearance: none) {
        [data-wrapper] {
            @apply min-[1800px]:border-t;
        }
    }

    @media (max-width: 640px) {
        .container {
            @apply px-4;
        }
    }
}

@utility step {
    counter-increment: step;

    &:before {
        @apply absolute w-9 h-9 bg-muted rounded-full font-mono font-medium text-center text-base inline-flex items-center justify-center -indent-px border-4 border-background;
        @apply ml-[-50px] -mt-1;
        content: counter(step);
    }
}

@utility chunk-container {
    @apply shadow-none;

    &::after {
        content: '';
        @apply absolute -inset-4 shadow-xl rounded-xl border;
    }
}

@utility no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility border-grid {
    @apply border-border/90 dark:border-border;
}

@utility container-wrapper {
    @apply max-w-[1400px] min-[1800px]:max-w-(--breakpoint-2xl) min-[1400px]:border-x border-border/90 dark:border-border mx-auto w-full;
}

@utility container {
    @apply px-4 xl:px-6 mx-auto max-w-(--breakpoint-2xl);
}

@theme {
    /* Container */
    --container-center: true;
    --container-padding: 2rem;
    --container-2xl: 1536px;

    /* Custom colors */
    --color-border: hsl(var(--border));
    --color-input: hsl(var(--input));
    --color-ring: hsl(var(--ring));
    --color-background: hsl(var(--background));
    --color-foreground: hsl(var(--foreground));

    --color-primary: hsl(var(--primary));
    --color-primary-foreground: hsl(var(--primary-foreground));

    --color-secondary: hsl(var(--secondary));
    --color-secondary-foreground: hsl(var(--secondary-foreground));

    --color-destructive: hsl(var(--destructive) / <alpha-value>);
    --color-destructive-foreground: hsl(var(--destructive-foreground) / <alpha-value>);

    --color-muted: hsl(var(--muted));
    --color-muted-foreground: hsl(var(--muted-foreground));

    --color-accent: hsl(var(--accent));
    --color-accent-foreground: hsl(var(--accent-foreground));

    --color-popover: hsl(var(--popover));
    --color-popover-foreground: hsl(var(--popover-foreground));

    --color-card: hsl(var(--card));
    --color-card-foreground: hsl(var(--card-foreground));

    /* Sidebar */
    --color-sidebar: hsl(var(--sidebar-background));
    --color-sidebar-foreground: hsl(var(--sidebar-foreground));
    --color-sidebar-primary: hsl(var(--sidebar-primary));
    --color-sidebar-primary-foreground: hsl(var(--sidebar-primary-foreground));
    --color-sidebar-accent: hsl(var(--sidebar-accent));
    --color-sidebar-accent-foreground: hsl(var(--sidebar-accent-foreground));
    --color-sidebar-border: hsl(var(--sidebar-border));
    --color-sidebar-ring: hsl(var(--sidebar-ring));

    /* Primary dark shades */
    --color-primary-dark-600: #2a2a2d;
    --color-primary-dark-700: #26262a;
    --color-primary-dark-800: #27272a;
    --color-primary-dark-900: #18181b;
    --color-primary-dark-950: #101014;

    /* Border radius */
    --radius-xl: calc(var(--radius) + 4px);
    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    /* Aspect ratios */
    --aspect-video: 16 / 9;
    --aspect-square: 1 / 1;
    --aspect-portrait: 9 / 16;
    --aspect-1-2: 1 / 2;
    --aspect-2-3: 2 / 3;
    --aspect-3-4: 3 / 4;

    /* Breakpoints */
    --breakpoint-xs: 20rem; /* 320px */
    --breakpoint-xms: 25rem; /* 400px */
    --breakpoint-3xl: 125rem; /* 2000px */
}

@layer base {
    .antialised {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    ::-webkit-scrollbar {
        width: 5px;
    }
    ::-webkit-scrollbar-track {
        background: transparent;
    }
    ::-webkit-scrollbar-thumb {
        background: hsl(var(--border));
        border-radius: 5px;
    }

    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        @apply border-border;
        /* border-color: var(--color-gray-200, currentcolor); */
    }

    * {
        scrollbar-width: thin;
        scrollbar-color: hsl(var(--border)) transparent;
    }
}
