@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/aspect-ratio';
@plugin 'tailwind-scrollbar-hide';

@config '../../../tailwind.config.js';

@layer utilities {
    @supports (font: -apple-system-body) and (-webkit-appearance: none) {
        [data-wrapper] {
            @apply min-[1800px]:border-t;
        }
    }

    @media (max-width: 640px) {
        .container {
            @apply px-4;
        }
    }
}

@layer components {
    div[class^='language-'] {
        @apply max-h-[650px] overflow-auto md:rounded-lg;
    }

    pre {
        @apply py-4;
    }

    pre code {
        @apply relative font-mono text-sm;
    }

    .line-numbers-wrapper,
    code {
        --vp-code-line-height: 1.7;
    }

    .line-numbers-wrapper {
        @apply font-mono!;
    }

    pre code .line {
        @apply inline-block min-h-4 w-full px-4 leading-(--vp-code-line-height);
    }

    .line-number {
        font-size: 0.75rem;
        color: hsla(0, 0%, 98%, 0.4);
        @apply inline-block! leading-(--vp-code-line-height);
    }

    .steps:first-child > h3:first-child {
        @apply mt-0;
    }

    .steps > h3 {
        @apply mt-8! mb-4! text-base! font-semibold!;
    }

    [data-code-block-plugin] [data-code-block-title] {
        @apply text-foreground mt-4 px-4 text-sm font-medium;
    }

    [data-code-block-plugin] div[class^='language-'] {
        @apply mt-2!;
    }
}

@utility step {
    counter-increment: step;

    &:before {
        @apply bg-muted border-background absolute inline-flex h-9 w-9 items-center justify-center rounded-full border-4 text-center -indent-px font-mono text-base font-medium;
        @apply -mt-1 ml-[-50px];
        content: counter(step);
    }
}

@utility chunk-container {
    @apply shadow-none;

    &::after {
        content: '';
        @apply absolute -inset-4 rounded-xl border shadow-xl;
    }
}

@utility no-scrollbar {
    /* Hide scrollbar for Chrome, Safari and Opera */
    &::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

@utility border-grid {
    @apply border-border/90 dark:border-border;
}

@utility container-wrapper {
    @apply border-border/90 dark:border-border mx-auto w-full max-w-[1400px] min-[1400px]:border-x min-[1800px]:max-w-(--breakpoint-2xl);
}

@utility container {
    @apply mx-auto max-w-(--breakpoint-2xl) px-4 xl:px-6;
}

/* Default Vitepress Theme */
@layer base {
    /* vitepress */

    :root {
        /* Defaults*/

        --background: hsl(0 0% 100%);
        --foreground: hsl(240 10% 3.9%);
        --card: hsl(0 0% 100%);
        --card-foreground: hsl(240 10% 3.9%);
        --popover: hsl(0 0% 100%);
        --popover-foreground: hsl(240 10% 3.9%);
        --primary: hsl(240 5.9% 10%);
        --primary-foreground: hsl(0 0% 98%);
        --secondary: hsl(240 4.8% 95.9%);
        --secondary-foreground: hsl(240 5.9% 10%);
        --muted: hsl(240 4.8% 95.9%);
        --muted-foreground: hsl(240 3.8% 46.1%);
        --accent: hsl(240 4.8% 95.9%);
        --accent-foreground: hsl(240 5.9% 10%);
        --destructive: hsl(0 72.22% 50.59%);
        --destructive-foreground: hsl(0 0% 98%);
        --border: hsl(240 5.9% 90%);
        --input: hsl(240 5.9% 90%);
        --ring: hsl(240 5% 64.9%);
        --radius: 0.5rem;

        --sidebar-background: hsl(0 0% 98%);
        --sidebar-foreground: hsl(240 5.3% 26.1%);
        --sidebar-primary: hsl(240 5.9% 10%);
        --sidebar-primary-foreground: hsl(0 0% 98%);
        --sidebar-accent: hsl(240 4.8% 95.9%);
        --sidebar-accent-foreground: hsl(240 5.9% 10%);
        --sidebar-border: hsl(220 13% 91%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);

        --vis-primary-color: var(--primary);
        --vis-secondary-color: 160 81% 40%;
        --vis-text-color: var(--muted-foreground);

        --vis-area-stroke-width: 2px !important;
        --vis-donut-central-label-text-color: var(--muted-foreground) !important;
        --vis-tooltip-background-color: none !important;
        --vis-tooltip-border-color: none !important;
        --vis-tooltip-text-color: none !important;
        --vis-tooltip-shadow-color: none !important;
        --vis-tooltip-backdrop-filter: none !important;
        --vis-tooltip-padding: none !important;
    }

    @theme {
        /* Custom colors */
        --color-input: var(--input);

        --color-ring: var(--ring);

        --color-primary-foreground: var(--primary-foreground);

        --color-secondary: var(--secondary);
        --color-secondary-foreground: var(--secondary-foreground);

        --color-destructive: var(--destructive);
        --color-destructive-foreground: var(--destructive-foreground);

        --color-muted: var(--muted);
        --color-muted-foreground: var(--muted-foreground);

        --color-accent: var(--accent);
        --color-accent-foreground: var(--accent-foreground);

        --color-popover: var(--popover);
        --color-popover-foreground: var(--popover-foreground);

        --color-card: var(--card);
        --color-card-foreground: var(--card-foreground);

        /* Sidebar */
        --color-sidebar: var(--sidebar-background);
        --color-sidebar-foreground: var(--sidebar-foreground);
        --color-sidebar-primary: var(--sidebar-primary);
        --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
        --color-sidebar-accent: var(--sidebar-accent);
        --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
        --color-sidebar-border: var(--sidebar-border);
        --color-sidebar-ring: var(--sidebar-ring);

        /* Redone Colours */
        --color-background: var(--background);
        --color-foreground: var(--foreground-0);

        --color-border: var(--border);
    }

    .dark {
        /* Defaults */
        --background: hsl(240 10% 3.9%);
        --foreground: hsl(0 0% 98%);
        --card: hsl(240 10% 3.9%);
        --card-foreground: hsl(0 0% 98%);
        --popover: hsl(240 10% 3.9%);
        --popover-foreground: hsl(0 0% 98%);
        --primary: hsl(0 0% 98%);
        --primary-foreground: hsl(240 5.9% 10%);
        --secondary: hsl(240 3.7% 15.9%);
        --secondary-foreground: hsl(0 0% 98%);
        --muted: hsl(240 3.7% 15.9%);
        --muted-foreground: hsl(240 5% 64.9%);
        --accent: hsl(240 3.7% 15.9%);
        --accent-foreground: hsl(0 0% 98%);
        --destructive: hsl(0 62.8% 30.6%);
        --destructive-foreground: hsl(0 85.7% 97.3%);
        --border: hsl(240 3.7% 15.9%);
        --input: hsl(240 3.7% 15.9%);
        --ring: hsl(240 4.9% 83.9%);

        --sidebar-background: hsl(240 5.9% 10%);
        --sidebar-foreground: hsl(240 4.8% 95.9%);
        --sidebar-primary: hsl(224.3 76.3% 48%);
        --sidebar-primary-foreground: hsl(0 0% 100%);
        --sidebar-accent: hsl(240 3.7% 15.9%);
        --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
        --sidebar-border: hsl(240 3.7% 15.9%);
        --sidebar-ring: hsl(217.2 91.2% 59.8%);
    }
}
